@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #ffc559;
  /* Emerald 500 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cinzel: var(--font-cinzel), serif;
  --font-roboto-condensed: var(--font-roboto-condensed), sans-serif;
  --font-eduvic-hand: var(--font-eduvic-hand), sans-serif;
  --color-primary: var(--primary-color);
  --color-primary-hover: color-mix(in srgb, var(--primary-color) 85%, black);
  --color-primary-light: color-mix(in srgb, var(--primary-color) 85%, white);
  --color-primary-lighter: color-mix(in srgb, var(--primary-color) 65%, white);
}



html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 320px;
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    Arial,
    Helvetica,
    sans-serif;

}